<form nz-form class="product-addedit-form">
  <!----------------------------------------->
  <!-- Produkt oder Service Auswahl        -->
  <!----------------------------------------->
  <h3>Produkt/Service</h3>
  <nz-form-item>
    <nz-radio-group>
      <!-- [(ngModel)]="selectProductService" -->
      <label nz-radio nzValue="product">Produkt</label>
      <label nz-radio nzValue="service">Service</label>
    </nz-radio-group>
  </nz-form-item>

  <!----------------------------------------->
  <!-- Produktname                         -->
  <!----------------------------------------->
  <h3>Produktname</h3>
  <nz-form-item>
    <nz-form-control [nzSpan]="24" nzErrorTip="Bitte geben Sie einen Namen ein.">
      <input nz-input [ngModel]="''" placeholder="Produktname" name="product" minlength="3" required/>
    </nz-form-control>
  </nz-form-item>

  <!----------------------------------------->
  <!-- Preis                               -->
  <!----------------------------------------->
  <h3>Preis</h3>
  <nz-form-item>
    <nz-form-control [nzSpan]="24" nzErrorTip="Bitte geben Sie einen Preis ein.">
      <input type="number" nz-input [ngModel]="''" placeholder="Preis" name="price" required/>
    </nz-form-control>
  </nz-form-item>

  <!----------------------------------------->
  <!-- SKU                                 -->
  <!----------------------------------------->
  <h3>SKU</h3>
  <nz-form-item>
    <nz-form-control [nzSpan]="24" nzErrorTip="Bitte geben Sie die SKU an.">
      <input nz-input [ngModel]="''" placeholder="SKU" name="sku" minlength="8" required/>
    </nz-form-control>
  </nz-form-item>

<!----------------------------------------->
<!-- Eigenschaften                       -->
<!----------------------------------------->
<h3>Eigenschaften</h3>
<!-- TODO: Workaround 'NoResult' need to be fixed -->
<nz-table #propertyTable nzBordered [nzData]="listOfProperty" [nzNoResult]="null">
  <thead>
    <tr>
      <th nzSpan="12">Eigenschaft</th>
      <th nzSpan="12">Wert</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let newProduct of propertyTable.data" class="editable-row">
      <td>
        <div class="editable-cell" [hidden]="editIdProperty === newProduct.id">
          {{ newProduct.name }}
        </div>
        <input nz-input [ngModel]="''" placeholder="Eigenschaft" name="property"/>
      </td>

      <td>
        <div class="editable-cell" [hidden]="editIdProperty === newProduct.id">
          {{ newProduct.value }}
        </div>
        <input nz-input [ngModel]="''" placeholder="Wert" name="value"/>
      </td>
    </tr>
  </tbody>
</nz-table>
<button nz-button (click)="addRowProperty()" nzType="primary">
  Hinzufügen
</button>
<br /><br />

<!----------------------------------------->
<!-- Kategorien Auswahl                  -->
<!----------------------------------------->
<h3>Kategorie</h3>
<nz-select nzShowSearch nzAllowClear [nzDropdownRender]="renderTemplate" nzPlaceHolder="Kategorie" class="category">
  <nz-option *ngFor="let item of listOfCategory" [nzLabel]="item" [nzValue]="item"></nz-option>
</nz-select>
<ng-template #renderTemplate>
  <nz-divider></nz-divider>
  <div class="container">
    <input type="text" nz-input #inputElement formControlName="category" />
    <a class="add-item" (click)="addItem(inputElement)"><i nz-icon nzType="plus"></i> Neue Kategorie</a>
  </div>
</ng-template>
<br /><br />

<!----------------------------------------->
<!-- Standort                            -->
<!----------------------------------------->
<h3>Standorte</h3>
<!-- TODO: Workaround 'NoResult' need to be fixed -->
<nz-table #locationTable nzBordered [nzData]="listOfLocation" [nzNoResult]="null">
  <thead>
    <tr>
      <th nzSpan="12">Standort</th>
      <th nzSpan="12">Bestand</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of locationTable.data" class="editable-row">
      <td>
        <nz-select>
          <nz-option nzValue="{{data.location}}" nzLabel="{{data.location}}"></nz-option>
        </nz-select>
      </td>

      <td>
        <div class="editable-cell" [hidden]="editIdLocation === data.id">
          {{ data.value }}
        </div>
        <input type="text" nz-input [(ngModel)]="data.value" />
      </td>
    </tr>
  </tbody>
</nz-table>
<button nz-button (click)="addRowLocation()" nzType="primary">
  Hinzufügen
</button>
<br /><br />

  <!----------------------------------------->
  <!-- Speichern Button                    -->
  <!----------------------------------------->
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" (click)="submitForm()">Speichern</button>
    </nz-form-control>
  </nz-form-item>
</form>