<nz-layout class="nzLayout">
  <nz-header *ngIf="HideUiShell">
    <div class="logo">BLOB</div>
    <h1 class="header-title-name">{{ Title }}</h1>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" nzSelectable="false" class="header-menu">
      <li nz-menu-item [routerLink]="['/manage']">
        <i nz-icon nzType="setting" nzTheme="outline"></i>Verwaltung
      </li>
      <li nz-menu-item (click)="signOut()" >
        <i nz-icon nzType="logout" nzTheme="outline"></i>Logout
      </li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider *ngIf="HideUiShell" nzWidth="200px" nzTheme="dark">
      <ul nz-menu nzTheme="dark">
        <li [routerLink]="['/product']" routerLinkActive="router-link-active" nz-menu-item>
          <i nz-icon nzType="code-sandbox" nzTheme="outline"></i>Produkte
        </li>
        <li
          [routerLink]="['/customer']"
          routerLinkActive="router-link-active"
          nz-menu-item
        >
          <i nz-icon nzType="user" nzTheme="outline"></i>Kunden
        </li>
        <li
          [routerLink]="['/order']"
          routerLinkActive="router-link-active"
          nz-menu-item
        >
          <i nz-icon nzType="carry-out" nzTheme="outline"></i>Bestellungen
        </li>
        <!-- <li
          [routerLink]="['/shipping']"
          routerLinkActive="router-link-active"
          nz-menu-item
        >
          <i nz-icon nzType="send" nzTheme="outline"></i>Versand
        </li> -->
        <li
          [routerLink]="['/statistic']"
          routerLinkActive="router-link-active"
          nz-menu-item
        >
          <i nz-icon nzType="area-chart" nzTheme="outline"></i>Statistik
        </li>
      </ul>
    </nz-sider>
    <nz-layout [ngClass]="{'inner-layout': HideUiShell}">
      <nz-content [ngClass]="{'removeFrame': !HideUiShell}"><router-outlet></router-outlet></nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>

<!-- <router-outlet *ngIf="!HideUiShell"></router-outlet> -->
