<ng-container>
    <nz-spin [nzSpinning]="isLoading">
        <form
            nz-form
            [formGroup]="addForm"
            class="login-form"
            (ngSubmit)="submitAddForm()"
            >

            <nz-form-item>
                <nz-form-control>
                    <nz-select formControlName="customerId" nzShowSearch nzAllowClear nzPlaceHolder="Wähle einen Kunden" (ngModelChange)="customerChanged()">
                        <nz-option *ngFor="let customer of customers" [nzValue]="customer.id" [nzLabel]="customer.firstname+' '+customer.lastname"></nz-option>
                        </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <nz-input-group>
                    <input formControlName="street" nz-input placeholder="Straße"/>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <nz-input-group>
                    <input formControlName="city" nz-input placeholder="PLZ, Ort"/>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <h2 nz-typography>Produkte</h2>
            <ng-container formArrayName="products">
                <div class="order-products-title-wrapper">
                    <h4 nz-typography>Produkt</h4>
                    <h4 nz-typography>Menge</h4>
                    <h4 nz-typography>Preis</h4>
                    <h4 nz-typography></h4>
                </div>
                <div *ngFor="let _ of orderProducts.controls; let i = index;" class="order-products-wrapper">
                    <ng-container [formGroupName]="i">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Bitte wähle ein Produkt aus">
                                <nz-select formControlName="product" nzShowSearch nzAllowClear nzPlaceHolder="Produkt auswählen" (ngModelChange)="productChanged(i)">
                                    <nz-option *ngFor="let product of products" [nzValue]="product.id" [nzLabel]="product.product"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Bitte wähle ein Produkt aus">
                                <nz-input-group>
                                <!--input nz-input formControlName="quantity" type="number" placeholder="Menge"/-->
                                <nz-input-number formControlName="quantity" [nzMin]="1" [nzStep]="1" (ngModelChange)="calcInvoiceMount()"></nz-input-number>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Bitte gib einen gültigen Preis ein">
                                <nz-input-group>
                                <input nz-input formControlName="price" placeholder="Preis"/>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </ng-container>
                    <i nz-icon nzType="delete" nzTheme="outline" class="dynamic-delete-button" (click)="removeProduct(i)"></i>
                </div>
            </ng-container>

            <div class="button-wrapper">
                <button
                    nz-button
                    nzType="primary"
                    class="element-add-button"
                    (click)="addProduct($event)"
                >
                    <i nz-icon nzType="plus" nzTheme="outline"></i> Produkt hinzufügen
                </button>
            </div>
            
            <div class="order-add-lastLine-wrapper">
                <button
                nz-button
                class="addButton"
                nzType="primary"
                nzBlock
                [disabled]="!addForm.valid"
                >
                Speichern
                </button> 
                <h3 nz-typography>Gesamtbetrag: {{currentInvoiceMount}}€</h3>
            </div>
        </form>
    </nz-spin>
</ng-container>